.wrapper {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    gap: 8px;
    position: relative;
}

.title {

}

.button_wrapper {
    width: 180px;
}

.error {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FF6471;
    position: absolute;
    bottom: -18px
}
